*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
	width: 100%;
}

.navbar-toggler:focus, .navbar-toggler:active {
	outline: none;
	box-shadow: none;
}

.navbar-toggler{
	outline: none;
	border: none;
}

.my-container{
	max-width: 1024px;
	padding: 0 2%;
	margin: 0 auto;
}

.line-section{
	display: block;
	height: 110px;
	width: 2px;
	background-color: #f5ba4b;
	margin: 0 auto;
	position: relative;
	bottom: -135px;
}

/* header */

header{
	background-image: url('../images/background.jpg');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

nav{
	padding: 20px 0 !important;
	background-color: transparent;
}


nav .navbar-nav{
	margin: 0 auto;
	padding: 20px;
	border-bottom: 2px groove #f5ba4b;
}

nav .nav-link{
	color: rgb(230,230,230) !important;
	padding: 0 45px !important;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.2s;
}

nav .nav-link:hover{
	color: #fff !important;
}

nav .navbar-brand{
	font-size: 13px;
	text-transform: uppercase;
	color: rgb(230,230,230) !important;
	font-weight: 700;
}

header .jumbotron{
	background-color: transparent !important;
	text-align: center !important;
	color: #fff !important;
	position: relative;
	top: 170px;
}

header .jumbotron p{
	margin: 0 auto;
	max-width: 500px;
	font-size: 16px;
	padding:40px 0;
}

header .jumbotron a{
	display: block;
	margin: 0 auto;
	width: 150px;
	height:50px;
	border: 1px solid #f5ba4b;
	line-height: 50px;
	color: rgb(230,230,230) !important;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	font-size: 15px;
}

.jumbotron a:hover{
	border: 2px solid black !important;
	color: black !important;
	background-color: white !important;
}


/* portfolio */

section.portfolio{
	padding: 80px 2%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 69%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(69%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 69%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 69%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 69%, rgba(237,237,237,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 69%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

section.portfolio .container{
	text-align: center;
}

section.portfolio .container > h2{
	padding-bottom: 10px;
	color: rgb(20,20,20);
	font-weight: 500;
}

section.portfolio .container > p{
	color: rgb(40,40,40);
	font-size: 13px;
	max-width: 460px;
	margin: 0 auto;
	padding: 40px 0;
}

.project-wraper{
	display: flex;
}

.project{
	width:33.33%;
	padding: 30px;
}

.img-project{
	cursor: pointer;
	width: 100%;	
	padding-top: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.2s ease-in-out;
}

.img-project:hover{
	margin-top: -5px;
	-webkit-box-shadow: 0px 47px 28px -50px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 47px 28px -50px rgba(0,0,0,0.75);
	box-shadow: 0px 47px 28px -50px rgba(0,0,0,0.75);
}

.text-project{
	padding:30px 0 0 30px;	 
}

.text-project h2{
	font-size: 15px;
	color: rgb(40,40,40);
}

.text-project p{
	font-size: 13px;
	color: rgb(150,150,150);
	max-width: 190px;
}



/* portfolio-2 */

section.portfolio-2{
	text-align: center;
	padding: 90px 2%;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 28%, rgba(209,209,209,1) 48%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(28%, rgba(219,219,219,1)), color-stop(48%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 28%, rgba(209,209,209,1) 48%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 28%, rgba(209,209,209,1) 48%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 28%, rgba(209,209,209,1) 48%, rgba(254,254,254,1) 100%);
	background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 28%, rgba(209,209,209,1) 48%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

section.portfolio-2 .container > h2{
	color: rgb(20,20,20);
	font-weight: 500;
	font-size: 22px;
}

section.portfolio-2 .container > p{
	color: rgb(40,40,40);
	font-size: 13px;
	max-width: 460px;
	margin: 0 auto;
	padding: 30px 0;
}

section.portfolio-2 .text-project h2{
	padding: 0;
	text-align: left;
}

section.portfolio-2 .text-project p{
	padding: 0;
	text-align: left;
}

section.diferenciais{
	padding: 90px 2%;
	background-color: black;
}

section.diferenciais .container:first-child > h2{
	color: #fff;
	text-align: center;
	font-size: 30px;
	z-index: 1;
}

section.diferenciais .container:first-child > p{
	color: #fff;
	margin: 0 auto;
	font-size: 14px;
	z-index: 1;
	padding:20px 0 60px 0;
	max-width: 400px;
}

section.diferenciais .container > p{
	color: white;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
}

.icon-text {
	padding: 40px 20px;
	color: #fff;
}

.icon-text h5{
	font-size: 25px;
}

.icon-text p {
	font-size: 14px
	max-width:150px;
}

.icon{
	width: 128px;
	height: 128px;
	border-radius: 64px;
	border:3px solid #fff;
	display: inline-block;
	position: relative;
}

.icon i{
	font-size: 40px;
	color: #fff;
	margin-top: 40px;
	
}

.line{
	width: 200px;
	height: 2px;
	background-color: #f5ba4b;
	margin: 0 ;
	display: inline-block;
	margin-right: -4px;
}

.line2{
	display: inline-block;
	width: 200px;
	height: 2px;
	background-color: #ccc;
	margin-right: -4px;
	margin-left: 0;
}

section.cards{
	padding: 90px 2%;
	background-color: #fff;
}

section.cards .container > h2{
	text-align: center;
	font-size: 20px;
	color: rgb(20,20,20);
}

section.cards .container > p{
	text-align: center;
	font-size: 14px;
	color: rgb(40,40,40);
	padding: 20px 0;
}

.container-price{
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
}

.card{
	padding: 60px 0 !important;
	border-top: 2px solid #f5ba4b;
}

.card-body h2{
	font-size: 14px;
	color: rgb(40,40,40);
	text-align: center;	
	font-weight: bold;
}

.card-body p:nth-of-type(1){
	font-size: 15px;
	text-align: center;
	color: #f5ba4b;
}

.card-text{
	text-align: center;
	font-size: 15px;
}

.card a{
	text-align: center;
	display: block;
	margin: 40px auto;
	width: 130px;
	height:50px;
	border: 1px solid #f5ba4b;
	line-height: 50px;
	color:rgb(40,40,40) !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

.card a:hover{
	color: #f5ba4b !important;
}


footer main{
	padding: 70px 2%;
	background-color: rgb(40,40,40);
}

footer section{
	background-color: black;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 15px 2%;
}

footer section p{
	margin-top: 10px;
}
footer a{
	font-size: 18px;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

footer a:hover{
	color: #fff;
	text-decoration: none;
}

footer h2{
	color: rgb(190,190,190);
	padding: 10px;
}

footer i{
	padding: 0 10px;
	font-size: 30px;
}

footer p{
	padding: 10px;
	font-size: 18px;
	color: #fff;
}

footer .link-social{
	display: inline-block;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

footer .f4{
	background-color: black;
	padding: 30px 2%;
	color: #fff;
}

@media screen and (max-width: 1200px){
	nav{
		padding: 20px 0 !important;
		background-color: transparent;
	}

	nav .navbar-nav{
		padding: 10px;
	}

	nav .nav-link{
		font-size: 12px;
	}

	nav .nav-link:last-child{
		font-size: 11px;
	}

	nav .navbar-brand{
		font-size: 13px;
	}
}

@media screen and (max-width: 991px){

	/* header */

	nav{
		background-color: white;
	}

	nav .navbar-brand{
		color: rgb(40,40,40) !important;
		margin-top: 0;
	}

	nav .navbar-nav{
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		margin:0;
		text-align: left;
	}


	nav .nav-link{
		padding: 5px 0 !important;
		color: rgb(40,40,40) !important;
	}

	nav .nav-link:hover{
		color:#f5ba4b !important;
	}


	header .jumbotron h1{
		font-size: 32px;
	}

	header .jumbotron p{
		max-width: 450px;
		font-size: 14px;
	}

	/* portfolio */

	.project-wraper{
		display: flex;
		flex-direction: column;
	}

	.project{
		width:100%;
		padding: 30px;
	}

	.img-project{
		cursor: pointer;
		width: 100%;	
		padding-top: 60%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		transition: all 0.2s ease-in-out;
	}

	/* footer */
	footer a{
		font-size: 16px;
	}

	footer h2{
		padding: 5px;
		font-size: 20px;
	}

	footer i{
		font-size: 20px;
	}

	footer p{
		padding: 5px;
		font-size: 16px;
	}

	footer .link-social{
		font-size: 16px;
		padding: 5px;
	}
}

@media screen and (max-width: 768px){

	header{
		min-height: 150vh;
	}
	
	.container-price{
		max-width: none;
		width: 100%;
		text-align: center;
	}

	.card{
		display: inline-block;
		padding: 60px 0 !important;
		border-top: 2px solid #f5ba4b;
		width: 100% !important;
	}

	/* footer */

	footer a{
		font-size: 14px;
	}

	footer h2{
		padding: 0px 5px;
		font-size: 16px !important;
	}

	footer i{
		font-size: 18px;
	}

	footer p{
		padding:5px 0px;
		font-size: 14px;
	}

	footer .link-social{
		font-size: 14px;
		padding:0px 0px;
	}
}

@media screen and (max-width: 580px){

	/* header */

	nav .navbar-brand{
		padding-left: 20px;
	}

	nav .navbar-nav{
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin:0;
		text-align: left;
	}

	header .jumbotron h1{
		font-size: 25px;
	}

	header .jumbotron p{
		max-width: 350px;
		font-size: 13px;
	}

	section.portfolio .container > h2{
		padding-bottom: 10px;
		color: color:rgb(20,20,20);
		font-size: 25px;
	}

	section.portfolio .container > p{
		color: rgb(40,40,40);
		font-size: 12px;
	}
		section.portfolio .project{
		padding: 10px;
	}
	.text-project{
		padding:30px 0 0 30px;	
	}

	.text-project h2{
		font-size: 13px;
		color: rgb(40,40,40);
	}

	.text-project p{
		font-size: 11px;
		color: rgb(150,150,150);
		max-width: 190px;
	}

	.card{
		display: inline-block;
		padding: 60px 0 !important;
		border-top: 2px solid #f5ba4b;
		width: 100% !important;
		margin-top: 40px;
	}

	.line{
		width: 35%;
	}

	.line2{
		width: 35%;
	}

	/* footer */

	footer a{
		font-size: 16px;
	}

	footer h2{
		padding: 0px 5px;
		font-size: 20px !important;
	}

	footer i{
		font-size: 20px;
	}

	footer p{
		padding:5px 0px;
		font-size: 16px;
	}

	footer .link-social{
		font-size: 16px;
		padding:0px 0px;
	}

	.f1{
		padding:30px 0;
		border-bottom: 1px solid rgb(150,150,150);
	}

	.f2{
		padding:30px 0;
		border-bottom: 1px solid rgb(150,150,150);
	}

	.f3{
		padding:30px 0;
	}

}

/* height responsive */

@media screen and (max-height: 768px ){
	header .jumbotron{
		background-color: transparent !important;
		text-align: center !important;
		color: #fff !important;
		position: relative;
		top: 120px;
	}


}

@media screen and (max-height: 580px ){
	header .jumbotron{
	background-color: transparent !important;
	text-align: center !important;
	color: #fff !important;
	position: relative;
	top: 90px;
	}
}

@media screen and (max-height: 600px){
	header{
		min-height: 150vh;
	}
}

@media screen and (max-height: 480px ){

	header{
		position: relative;
	}
	header .jumbotron{
		background-color: transparent !important;
		text-align: center !important;
		color: #fff !important;
		position: static;
		padding: 60px 4%;
	}

	header .jumbotron h1{
		font-size: 18px;
	}

	header .jumbotron p{
		max-width: 400px;
		font-size: 12px;
	}

	header .jumbotron a{
		width: 130px;
		height:40px;
		line-height: 40px;
		font-size: 14px;
	}

}